body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333232;
}
.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(gif.gif);
    height: 330px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: bottom;
}
input, button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
button {
    background-color: #0f8060;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #2c302d;
}